In [1]:
#takes the last ocurence and executes
my_dict = {'first': 50, 'first': 70}
print(my_dict)

{'first': 70}

In [6]:
#dictionary does not allow duplicate keys
my_dict = {'first': 80, 'second': 80, 'third': 80}
print(my_dict)

{'first': 80, 'second': 80, 'third': 80}

In [5]:
#to access an item in a dictionary
my_dict = {'first': 80, 'second': 80, 'third': 80}
print(my_dict['third'])

80

In [7]:
#how to update a values in a dictonary
my_dict = {'first': 80, 'second': 80, 'third': 80}
my_dict['third'] = 70
print(my_dict)

{'first': 80, 'second': 80, 'third': 70}

In [11]:
#how to target a key in a dictionary
new_dict = {'Age': 29, 'Sex': "Female", "subjects": ['Biology', 'Chemistry', "Mathematics"]}
print(new_dict)
print(new_dict['subjects'])
dict_values = new_dict.values() #getting the values
dict_values1 = new_dict.keys() #getting the keys
print("Values", dict_values)
print("keys", dict_values1)

{'Age': 29, 'Sex': 'Female', 'subjects': ['Biology', 'Chemistry', 'Mathematics']}
['Biology', 'Chemistry', 'Mathematics']
Values dict_values([29, 'Female', ['Biology', 'Chemistry', 'Mathematics']])
keys dict_keys(['Age', 'Sex', 'subjects'])

In [12]:
#tuples prints key and item
new_dict = {'Age': 29, 'Sex': "Female", "subjects": ['Biology', 'Chemistry', "Mathematics"]}
dict_items = new_dict.items()
print('items tuple', dict_items)

items tuple dict_items([('Age', 29), ('Sex', 'Female'), ('subjects', ['Biology', 'Chemistry', 'Mathematics'])])

In [13]:
new_dict = {'Age': 29, 'Sex': "Female", "subjects": ['Biology', 'Chemistry', "Mathematics"]}
for item in new_dict.items():
    print('key =', item[0], "values =", item[1])

key = Age values = 29
key = Sex values = Female
key = subjects values = ['Biology', 'Chemistry', 'Mathematics']

In [16]:
shopping = [{'name': 'fish', 'quantity': 2, 'price': 5000}, {'name': "shoe", 'quantity': 2, "price": 2000, 'color': 'pink'}]
total = 0
for item in shopping:
    cost = item['price'] * item['quantity']
    total += cost
print('cart total cost =', total)

cart total cost = 14000

In [18]:
# Calculate the total score obtained by each student using the data in the following list of dictionaries: 
data = [{"name": "Sam", "Biology": 60, "Physics": 64, "Maths": 80}, {"name": "Willy", "Biology": 70, "Physics": 44, "Maths": 60}, {"name": "Ade", "Biology": 30, "Physics": 84, "Maths": 50}]
for item in data:
    total_score = item['Biology'] + item["Physics"] + item["Maths"]
    item['total'] = total_score
    print(item['name'], "Scored", total_score)
print(data)

Sam Scored 204
Willy Scored 174
Ade Scored 164
[{'name': 'Sam', 'Biology': 60, 'Physics': 64, 'Maths': 80, 'total': 204}, {'name': 'Willy', 'Biology': 70, 'Physics': 44, 'Maths': 60, 'total': 174}, {'name': 'Ade', 'Biology': 30, 'Physics': 84, 'Maths': 50, 'total': 164}]

In [19]:
#set
#attributes of a set: unordered, curly braces, unindexed and no duplicate
#Difference
set_a = {'Maths', 'Literature', 'Geography'}
set_b = {"Maths", "English", "Physics", 'Chemistry'}
set_difference = set_a.difference(set_b)
print('Difference', set_difference)

Difference {'Geography', 'Literature'}

In [23]:
#union
set_a = {'Maths', 'Literature', 'Geography', 'Chemistry'}
set_b = {"Maths", "English", "Physics", 'Chemistry'}
set_union = set_a.union(set_b)
print('union', set_union)

#intersection
print("******Intersection******")
set_intersection = set_a.intersection(set_b)
print("intersection", set_intersection)

union {'Physics', 'Literature', 'English', 'Geography', 'Chemistry', 'Maths'}
******Intersection******
intersection {'Chemistry', 'Maths'}

In [21]:
set_b = {"Maths", "English", "Physics", 'Chemistry'}
for i in set_b:
    print(i)

English
Chemistry
Maths
Physics

In [27]:
# write a program to output the difference, union, and intersection for the following set: 
set1 = {"Sam", "David", "Chisom", "Ngozi"}
set2 = {"Alake", "Ade", "Ngozi", "Brown", "Sam"}

#difference
print("*****Difference****")
set_difference = set1.difference(set2)
print(set_difference)

#union
print("*****Union*****")
set_union = set1.union(set2)
print(set_union)

#intersection
print("****Intersection*****")
set_intersection = set1.intersection(set2)
print(set_intersection)

*****Difference****
{'David', 'Chisom'}
*****Union*****
{'Alake', 'Brown', 'Chisom', 'Sam', 'Ngozi', 'David', 'Ade'}
****Intersection*****
{'Ngozi', 'Sam'}

In [31]:
#Tuple
mytuple = ('Orange', 'banana', 'mango') #tuple is immutable
mylist = ['orange', 'banana', 'mango']
mystr = 'Orange Banana mango'

# mytuple[2] = 'Cashew'
mylist[2] = 'Cashew'
print(mylist)
print(mytuple)
# mytuple.remove(2) #can't remove an item in a tuple
for item in mytuple:
    print(item)

['orange', 'banana', 'Cashew']
('Orange', 'banana', 'mango')
Orange
banana
mango

In [35]:
#to extract individual item from a list
list_in_list = [13, 5, 7, 8, 9, 1, [9, 0, 3], [2,4], [16, 34, 8]]
for num in list_in_list:
    if type(num) == type([]):
        for i in num:
            print(i)
        else:
            print(num)

9
0
3
[9, 0, 3]
2
4
[2, 4]
16
34
8
[16, 34, 8]

In [34]:
list1 = [1,2]
print(type(list1))

<class 'list'>