In [29]:
fruit = 'Banana'
for item in fruit:
    print(item, 'is of lenghth =', len(item))
print("*******************************************************")
print("*******************************************************")
fruit_list = ['Cashew', 'Orange', "Banana", "Strawberry", 'Mango', 'Blueberry']
for fruit in fruit_list:
    print(fruit, "is of length =", len(fruit))

B is of lenghth = 1
a is of lenghth = 1
n is of lenghth = 1
a is of lenghth = 1
n is of lenghth = 1
a is of lenghth = 1
*******************************************************
*******************************************************
Cashew is of length = 6
Orange is of length = 6
Banana is of length = 6
Strawberry is of length = 10
Mango is of length = 5
Blueberry is of length = 9

In [6]:
#sequence of numbers that can be handled with range functions
for number in range(2, 31, 2):
    print(number, 'squared =', number*number)

2 squared = 4
4 squared = 16
6 squared = 36
8 squared = 64
10 squared = 100
12 squared = 144
14 squared = 196
16 squared = 256
18 squared = 324
20 squared = 400
22 squared = 484
24 squared = 576
26 squared = 676
28 squared = 784
30 squared = 900

In [2]:
count = 0
while(count < 9):
    print('The count is:', count)
    count = count + 1
print("Goodbye")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Goodbye

In [16]:
#when you don't set a break condition with a while loop
count = 0 #declare the variable
break_point = 9
while  (count < break_point): #break condition
    print("count is at", count)
    count += 1
print('We are done')

count is at 0
count is at 1
count is at 2
count is at 3
count is at 4
count is at 5
count is at 6
count is at 7
count is at 8
count is at 9
We are done

In [20]:
fruit = ['banana', 'Beans', 'Watermelon', 'Cashew', 'Mango', "raspberry"]
index = 0
length = len(fruit)
while (index < length):
    print(fruit[index])
    index += 1
print("The end")

banana
Beans
Watermelon
Cashew
Mango
raspberry
The end

In [1]:
#using conditionals in loop
#printing only even numbers

number_list = [2, 3, 5, 8, 12, 7]
for x in number_list:
    square = x**2
    if (square%2 == 0): #if it divides without remainder
        print(x, 'squared = ', square)

2 squared =  4
8 squared =  64
12 squared =  144

In [24]:
#nested loop
num_list1= [1,2,3,4,5]
num_list2= [6,7,8,9,10]
for x in num_list1:
    print("for", x)
    for y in num_list2:
        print(x, "x", y, '=', x*y)

for 1
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
for 2
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
for 3
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
for 4
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
for 5
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [26]:
#nested loop
num_list1= range(1,12)
num_list2= range(1,12)
for x in num_list1:
    print("for", x)
    for y in num_list2:
        print(x, "x", y, '=', x*y)

for 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
for 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
for 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
for 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
for 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
for 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
for 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
for 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
for 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
for 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121

In [32]:
#using break statement in a loop #breaks execution out of the loop
animals = ["cows", 'goat', 'dog', 'cat']
for animal in animals:
    if animal == 'goat':
        break
    print(animal)

cows

In [31]:
#using continue statement in a loop #it skips that statement then continues with the actual figure
animals = ["cows", 'goat', 'dog', 'cat']
for animal in animals:
    if animal == 'goat':
        continue
    print(animal)

cows
dog
cat