In [8]:
#global and variable function

total = 0

def sumnumbers(num1, num2):
    global total
    print("total before declaration", total)
    total = num1 + num2
    print("Total within function", total)
    return
print('total outside the function', total)
sumnumbers(6,9)

total outside the function 0
total before declaration 0
Total within function 15

In [8]:
def factorial_sol(n):
    if n<=1:
        return 1
    else:
        return n*factorial_sol(n-1)


n = 6
print(factorial_sol(n))

720

In [11]:
#iterative version
def factoria_iter(n):
    if n <= 1:
        return 1
    total = 1
    while n >=1:
        total=total * n
        n = n - 1
    return total

# recursive version for factorial
def factorial_recur(n):
    if n <=1:
        return 1
    total = n * factorial_recur(n-1)
    return total

print(factoria_iter(5))
print(factorial_recur(5))

120
120

In [14]:
#extracting a list using recursive function
list1 = [1, 2, 4,[4, 5, 7,[4, 2, 6,[4, 8, 9, 'Steph']]], 5,8,(8,5), {"First":50}, 'Jenny']
def extract_items_recur(list_input):
    for item in list_input:
        if type(item) in [list, tuple, dict]:
            extract_items_recur(item)
        else:
            print(item)
    return
extract_items_recur(list1)

1
2
4
4
5
7
4
2
6
4
8
9
Steph
5
8
8
5
First
Jenny

In [16]:
def squareNum(number):
    return number**2

list_a = [5, 7, 8]
mapped_list = map(squareNum, list_a)
print(list(mapped_list))

[25, 49, 64]

In [17]:
def castToInt(str_int):
    return int(str_int)

list_b = ["20", "30", "60"]
print(list_b)
map_list = map(castToInt, list_b)

print(list(map_list))

['20', '30', '60']
[20, 30, 60]

In [19]:
def castToInt(str_int):
    return int(str_int)

values = input("Enter scores sepated by comma: e.g 50, 60, 70")
print(type(values))
values_splitted = values.split(",")
print(values_splitted)
casted_list = map(castToInt, values_splitted)
print(list(casted_list))

Enter scores sepated by comma: e.g 50, 60, 7060,90,90
<class 'str'>
['60', '90', '90']
[60, 90, 90]

In [9]:
# write a program that collects integer values separated by semicolumn (;) from the standard input device,
# calculate the sum and average of the values collected.
def squareNum(number):
    return number**2

list_a = [5, 7, 8]
mapped_list = map(squareNum, list_a)
print(list(mapped_list))




def castToInt(str_int):
    return int(str_int)

values = input("Enter your values seperated by semicolumn: eg 90; 60; 40;")
print(type(values))
values_sum = values.sum(values)
print(values_sum)


casted_values = map(castToInt, values_sum)
print(list(casted_values))

[25, 49, 64]
Enter your values seperated by semicolumn: eg 90; 60; 40;89; 70; 67
<class 'str'>

AttributeError: 'str' object has no attribute 'sum'

In [1]:
#avg
values = input("Enter your values seperated by semicolumn: eg 90; 60; 40;")
print(type(values))
values_sum = values.mean()
print(values_sum)

Enter your values seperated by semicolumn: eg 90; 60; 40;67,78,90
<class 'str'>

AttributeError: 'str' object has no attribute 'mean'

In [2]:
#filter
#filtering either even or odd

def even(num):
    if num % 2 == 0:
        return True
    else:
        return False
    
list_a = [4, 5, 6, 8, 9, 3, 7, 5]
filtered = filter(even, list_a)
print(list(filtered))

[4, 6, 8]

In [3]:
#worrking with lambda
#square each item in a list using lambda

list1 = [3, 5, 7, 8]
list_map = map(lambda i:i**2, list1)
print(list(list_map))

[9, 25, 49, 64]

In [6]:
#add two list using lambda
list1 = [4, 5, 6]
list2 = [7, 8, 9]
multiplied = map(lambda a,b: a*b, list1, list2)
print(list(multiplied))

[28, 40, 54]