In [9]:
#operations with comparison opeatators
# ==, >, <, <=, >=, !=

a = 5
b = 3
c = 20
d = 5

print(b>a)
print(a <= c)
#logical operators
print(a >= b and a <= c)
print(a > b or a > c)
print(a!=b or a!=c) #not equal to
print(a==d or a==c)#comparison

False
True
True
True
True
False

In [11]:
a = [100, 200, 300]
print(max(a))
print('this type is', type(a))

300
this type is <class 'list'>

In [15]:
#abs built-in function
a = -18.2
b = abs(a)
print(b)
print(abs(-0.5))
print(abs(12))
print(abs(-45))
print(abs(-89.0))

18.2
0.5
12
45
89.0

In [23]:
#max and min built-in functions
scores = [40, 46, 60, 23, 80]
min_score = min(scores)
max_score = max(scores)
print("min score is", min_score)
print('max score is', max_score)
print("the lenght is", len(scores))

min score is 23
max score is 80
the lenght is 5

In [25]:
#length built_in function
scores = [40, 46, 60, 23, 80, 200, 400, 700]
length = 'My name is Stephanie'
print("the lenght is", len(scores))
print('the length is', len(length))
print("the sum total is", sum(scores)) #sum function
print(sum(scores)/len(scores)) #mean function

the lenght is 8
the length is 20
the sum total is 1549
193.625

In [28]:
#concatenate (converting from integer to string)
a = 30
b = 'my score is = '
c = b + str(a)
print(c)
print(type(str(a)))

my score is = 30
<class 'str'>
<class 'float'>
50
<class 'int'>

In [34]:
#converting from float to integer
d = 50.7
print(type(d))
e = int(d)
print(e)
print(type(e))

<class 'float'>
50
<class 'int'>

In [39]:
#range from 0 to 10 = 0,1,2,3,4,5,6,7,8,9
n = 10
start_point = 1
step = 2

num_range = range(n) #valaues from 0 to n-1
num_range2 = range(start_point, n) #values from start_point to n-1 -1, 2,3,...9
num_range3 = range(start_point, n, step) #values from start_point to n-1 -1,3,5,7,9
num_range4 = range(5, 21)
print("num_range is = ", list(num_range))
print("num_range2 is = ", list(num_range2))
print("num_range3 is = ", list(num_range3))
print("num_range4 is = ", list(num_range4))

num_range is =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
num_range2 is =  [1, 2, 3, 4, 5, 6, 7, 8, 9]
num_range3 is =  [1, 3, 5, 7, 9]
num_range4 is =  [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [44]:
#lower, upper, strip, join, split
name = 'STEPHANIE'
name_lowercase = name.lower()
name_uppercase = name.upper()
print(name_lowercase)
print(name_uppercase)
print(name.capitalize())
print(name.upper())
print(name.lower())

print('*************************************************')
heading = 'Python for data science' #transforms every first letter in all the words into capitle letter

print(heading.title())

stephanie
STEPHANIE
Stephanie
STEPHANIE
stephanie
*************************************************8
Python For Data Science

In [52]:
#Join, Split
mystring = "Amos,Stephanie,Dayo,Nse,Aisa,Emmanuel"
combined_list = mystring.split(" ")
combined_list2 = mystring.split(",")
print(combined_list)
print(combined_list2)

#using join() to transform a list to string
joined_str = " , ".join(combined_list)
print(joined_str)

['Amos,Stephanie,Dayo,Nse,Aisa,Emmanuel']
['Amos', 'Stephanie', 'Dayo', 'Nse', 'Aisa', 'Emmanuel']